@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color-dark: #272727;
  /* --text-color-dark-red:  #1f0202; */
  --text-color-light: #ebebeb;
  --color-light: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .app{
  color: #e6e6e6;
  
} */
.app-home {
  /* background-image: linear-gradient(#000000b9, #00000060), url("/mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1;
  /* grid-template-rows: auto 1fr; */
  /* color: #e6e6e6; */
  /* color: #272727; */
  position: relative;
}

.nav-wrap {
  position: fixed;
  z-index: 10;
  background-color: var(--color-light);
  top: 0;
  left: 0;
}

.nav {
  border-bottom: 1px solid var(--text-color);
}

main {
  /* position: absolute; */
  padding-top: 8rem;
  height: 100%;
  width: 100%;

}
.container-hero{
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
}

footer {
  position: relative;
  bottom: 0;
  /* left: 50%; */
  width: 100%;
  text-align: center;
}

.card {
  /* background-color: var(--text-color-light); */
  /* box-shadow: 0px 5x 13px 3px #dfdfdf; */
}
.menu,
.vertical-nav-ul{
  display: none;
    order: 1;

}
.horizontal-nav-ul{
  order: 1;
}

.card-desc {
  color: var(--text-color-dark);
}
ul>*{
  cursor: pointer;
  transition: all 0.5s ease;
}
ul>*:hover{
  border-bottom: 1px solid red;
  color: #e7a3a6;
}
@media (max-width: 600px) { 
  .horizontal-nav-ul {
    order: 0;
    display: none;
  }
    .over-lay{
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
    position: fixed;
    z-index: 100;
  }
  .over-lay,
  .menu-list{
    top: 0;
    right: 0;
  }
  .menu-list{
    backdrop-filter: blur(24px);
    width: 80%;
    height: 100%;
    position: absolute;
    
  }
  .hidden{
    opacity: 0;
  }
  .vertical-nav-ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 2rem;
  }
  .menu-close-btn{
    position: absolute;
    top: 2rem;
    left: 1rem;

  }
  .menu{
  display: inline-block;
  cursor: pointer;
}
.menu:hover{
  color: #da7c81;
}
  .card {
    width: 100%;
  }
}